.form {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.form input{

        padding: 10px;
        box-shadow: 0 0 5px black, 0 0 5px silver;
        border: 0;
}

.form button{
    border: 0;
    padding: 10px;
    background-color: cadetblue;
    box-shadow: 0 0 5px black, 0 0 5px cadetblue;
}